<div class="clientes">
  <h1>Nossos Clientes</h1>
    <h3>Temos orgulho de nossos clientes e de cada projeto realizado</h3>

    <!--
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>La Bella Liss</mat-card-title>
        <mat-card-subtitle>E-commerce de Cosméticos</mat-card-subtitle>
      </mat-card-header>
        <a href="https://www.labellaliss.com.br/" target="_blank">
          <img mat-card-image src="/assets/la-bella-liss.jpg" alt="Logomarca La Bella Liss">
        </a>
      <mat-card-content>
        <p>E-commerce criado na plataforma Loja Integrada com integração com o ERP Bling.</p>
        <p>O layout foi customizado de acordo com a solicitação, também foram inseridos todos os produtos e trabalhado o SEO.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Visioncenter</mat-card-title>
        <mat-card-subtitle>Ótica E-commerce</mat-card-subtitle>
      </mat-card-header>
        <a href="https://www.visioncenter.com.br/" target="_blank">
          <img mat-card-image src="/assets/vision-center.jpg" alt="Logomarca Visioncenter">
        </a>
      <mat-card-content>
        <p>Criação de servidor de imagens para utilização em e-mail marketing</p>
      </mat-card-content>
    </mat-card>
    -->

    <div class="card-deck">
      <div class="card">
        <a href="https://www.labellaliss.com.br/" target="_blank">
          <img class="card-img-top" src="/assets/la-bella-liss.jpg" alt="Logomarca La Bella Liss">
        </a>
        <div class="card-body">
          <h5 class="card-title">La Bella Liss</h5>
          <p class="card-text">
            E-commerce criado na plataforma Loja Integrada com integração com o ERP Bling.
            O layout foi customizado de acordo com a solicitação, também foram inseridos todos os produtos e trabalhado o SEO.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">E-commerce de Cosméticos</small>
        </div>
      </div>
      <div class="card">
        <a href="https://www.visioncenter.com.br/" target="_blank">
          <img class="card-img-top" src="/assets/vision-center.jpg" alt="Logomarca Visioncenter">
        </a>
        <div class="card-body">
          <h5 class="card-title">Visioncenter</h5>
          <p class="card-text">
            Criação de servidor de imagens para utilização em e-mail marketing
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Ótica E-commerce</small>
        </div>
      </div>
      <div class="card">
        <a href="https://24horastaboao.com.br/" target="_blank">
          <img class="card-img-top" src="/assets/24-horas-taboao.jpg" alt="Logomarca La Bella Liss">
        </a>
        <div class="card-body">
          <h5 class="card-title">24 Horas Taboão</h5>
          <p class="card-text">
            Desenvolvimento completo de um portal de notícias responsivo e totalmente otimizado para anúncios do Google Adsense.
            O site foi otimizado para SEO e AMP. Também foi criado as contas Google Analytics, Tag Maganer, AdSense, Search Console e redesenhada a logomarca para o site.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Portal de Notícias</small>
        </div>
      </div>
    </div>
</div>


