<section class="sobre">
  <h1>Bocuto Tecnologia</h1>
    <p>Somos uma empresa voltada para desenvolvimento de sites, blogs e e-commerce, que atua no mercado praticando preços justos.</p>
    <p>Nossa ideia de desenvolvimento não aborda apenas a entrega de um projeto, buscamos fazer a criação de todas as contas Google necessárias para controle e adequação do site.</p>
    <p>Utilizamos uma metodologia para aplicação de SEO (Search Engine Optimization), assim, seu site estará apto para todos os motores de buscas.</p>
    <p>Nossa missão é atender a todos, seja empresa ou pessoa física, com as melhores soluções e os melhores preços!</p>
</section>


