<div class="desenvolvimento">
  <h1>Desenvolvimento</h1>

    <p>Atualmente, não estar na internet é não existir! Por isso buscamos dar o nosso melhor para que você e sua empresa exista!</p>
    <p>Estudamos o seu modelo de negócio e desenvolvemos exatamente o que você deseja.</p>
    <p>Trabalhamos com aplicações web customizadas, tanto na criação, migração ou melhoria de funcionalidades.</p>


  <h3>Serviços desenvolvidos</h3>

    <mat-list role="list">
      <mat-list-item role="site">Site</mat-list-item>
      <mat-list-item role="blog">Blog</mat-list-item>
      <mat-list-item role="ecommerce">E-commerce (Loja Virtual)</mat-list-item>
      <mat-list-item role="facebook">Páginas no Facebook</mat-list-item>
      <mat-list-item role="ads">Google Ads e Facebook Ads</mat-list-item>
      <mat-list-item role="youtube">Canal no YouTube</mat-list-item>
      <mat-list-item role="seo">Otimização para motores de buscas (SEO)</mat-list-item>
      <mat-list-item role="google">Criação de contas nas ferramentas Google</mat-list-item>
      <mat-list-item role="logomarca">Criação de Logo</mat-list-item>
    </mat-list>
</div>
